<div class="container">
  <h1>Search User by expertise</h1>
  <form
    [formGroup]="userExpertiseSearchForm"
    (ngSubmit)="searchUserByExpertise()"
    class="example-form"
  >
    <mat-form-field class="example-full-width">
      <mat-label> Enter user expertise</mat-label>
      <input
        formControlName="userExpertise"
        [(ngModel)]="userExpertise"
        matInput
        placeholder="Ex. Angular, Java"
        value="" [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of filteredOptions" [value]="item">
          {{item}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
    <button type="submit" mat-raised-button color="accent">Search Users</button>
  </form>
  <br />
  <br />

  <div class="searchResults" *ngIf="showSearchResult">
    <h2 class="left">Matches for Expertise- {{ userExpertise }}</h2>
    <br />

    <table mat-table [dataSource]="usersDataSource.data" class="mat-elevation-z8  width-75">
     <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>User_id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
    </ng-container>
  
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef>Mobile</th>
      <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
    </ng-container>

    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef>DOB</th>
      <td mat-cell *matCellDef="let element">{{ element.dob }}</td>
    </ng-container>

    <ng-container matColumnDef="profilepic">
      <th mat-header-cell *matHeaderCellDef>Profile Pic</th>
      <td mat-cell *matCellDef="let element">{{ element.profilepic }}</td>
    </ng-container>

    <ng-container matColumnDef="socialLoginId">
      <th mat-header-cell *matHeaderCellDef>Social LoginId</th>
      <td mat-cell *matCellDef="let element">{{ element.socialLoginId }}</td>
    </ng-container>

    <ng-container matColumnDef="professionalSummary">
      <th mat-header-cell *matHeaderCellDef>Professional Summary</th>
      <td mat-cell *matCellDef="let element">{{ element.professionalSummary }}</td>
    </ng-container>

    <ng-container matColumnDef="user_type">
      <th mat-header-cell *matHeaderCellDef>User_Type</th>
      <td mat-cell *matCellDef="let element">{{ element.user_type }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'yyyy-MM-dd'}}</td>
    </ng-container>
  

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
