table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}
td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}