.example-form {
  min-width: 16rem;
  width: 60%;
}

.example-full-width {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}
.width-75{
    width: 75%;
}